@CHARSET "UTF-8";

body[data-os=firefoxos] {
    transform-style: flat;
    position: fixed;
    top: 0;
}

body[data-os=firefoxos] a:active {
    background-color: rgba(0,0,0,0);
}

section > article {
    height: calc(100% - 46px) !important;
}

section.with-footer > article {
    height: calc(100% - 92px) !important;
}

section.fix {
  position: fixed;
  top: 0;
}
section.fix > header {
  margin-bottom: 0;
  transition: all .5s;
}
section.fix > header h1{
  line-height: inherit;
}

body[data-os=firefoxos] .notification .window {
    position: relative;
    top: calc(50% - 52px);
    left: calc(50% - 52px);
}

body [data-animation-direction] {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-ms-animation-duration: 500ms;
	-o-animation-duration: 500ms;
	animation-duration: 500ms;

	-webkit-animation-timing-function: cubic-bezier(.645,.045,.355,1);
	-moz-animation-timing-function: cubic-bezier(.645,.045,.355,1);
	-ms-animation-timing-function: cubic-bezier(.645,.045,.355,1);
	-o-animation-timing-function: cubic-bezier(.645,.045,.355,1);
	animation-timing-function: cubic-bezier(.645,.045,.355,1);

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;

	opacity: 0;
}

.prima {
	z-index: 999;
	cursor: pointer;
	position: absolute;
	bottom: calc(50% - 65px);
	left: 17%;
	width: 66%;
	height: 130px;
}

.prima .prima-chart,
.prima .prima-numeric {
	border-radius: 5px;
	border: 1px solid black;
    background-color: rgb(30, 30, 30);
	background-color: rgba(30, 30, 30, 0.6);
	text-shadow: 0 1px 2px black;

	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	width: 100%;
	height: 100%;
}

.prima-chart canvas {
	border-radius: 5px;
}

.prima.minified:not([data-animation-direction]) {
	bottom: 99999px;
}

.prima[data-animation="minify"][data-animation-direction="forward"] {
 	-webkit-animation-name: primaHide;
    -moz-animation-name: primaHide;
}

.prima[data-animation="minify"][data-animation-direction="backward"] {
 	-webkit-animation: primaShow 500ms 400ms;
    -moz-animation: primaShow 500ms 400ms;
}



@-webkit-keyframes primaShow {
  0% {
    -webkit-transform: translate3d(-180px, 320px, 0) scale(0);
    transform: translate3d(-180px, 320px, 0) scale(0);
	opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes primaHide {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(-180px, 320px, 0) scale(0);
    transform: translate3d(-180px, 320px, 0) scale(0);
	opacity: 0;
  }
}

@-moz-keyframes primaShow {
  0% {
    -moz-transform: translate3d(-180px, 320px, 0) scale(0);
    transform: translate3d(-180px, 320px, 0) scale(0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@-moz-keyframes primaHide {
  0% {
    -moz-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  100% {
    -moz-transform: translate3d(-180px, 320px, 0) scale(0);
    transform: translate3d(-180px, 320px, 0) scale(0);
    opacity: 0;
  }
}


.prima .prima-wrap {
	height: 100%;
	width: 100%;
}

.prima .prima-wrap div {
	text-align: center;
}

.prima-value, .prima-delta, .prima-percent {
	line-height: 65px;
}

#prima-numbers .layout.horizontal {
    width: 100%;
}

.prima-value {
	font-size: 40px;
	color: white;
}

.prima-delta, .prima-percent {
	font-size: 24px;
}

.prima .prima-percent:after {
  content: "%";
}

.prima {
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
}

.prima .prima-numeric {
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	-o-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

.prima.rotate-3d .prima-numeric {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.prima .prima-chart {
	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateY(-180deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	-o-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

.prima.rotate-3d .prima-chart {
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
}


.miniature:after {
	font-family: 'IcoMoonMore';
	font-style: normal;
	speak: none;
	content: "\0045";
	font-size: 20px;
	color: white;
	position: absolute;
	top: 5px;
	right: 10px;
}

.miniature {
	z-index: 2;
	position: absolute;
	left: -51px;
	bottom: 99999px;
	width: 50px;
	height: 36px;
	border-radius: 0 5px 5px 0;
	border: 1px solid black;
	background-color: rgba(30, 30, 30, 0.6);
	box-shadow: 0 2px 2px rgba(30, 30, 30, 0.5);
	text-shadow: 0 1px 2px black;
}

.minified + .miniature.animating {
	left: -51px;
}

.minified + .miniature:not(.animating) {
	left: -11px;
}

.minified + .miniature,
.miniature.animating {
	bottom: 80px;
}

.miniature[data-animation="slide"][data-animation-direction="forward"] {
 	-webkit-animation: miniatureShow 500ms 400ms;
    -moz-animation: miniatureShow 500ms 400ms;
    animation: miniatureShow 500ms 400ms;
}

.miniature[data-animation="slide"][data-animation-direction="backward"] {
 	-webkit-animation-name: miniatureHide;
    -moz-animation-name: miniatureHide;
    animation-name: miniatureHide;
}


@-webkit-keyframes miniatureShow {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  60% {
    opacity: 0.6;
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(40px, 0, 0);
    transform: translate3d(40px, 0, 0);
  }
}

@-webkit-keyframes miniatureHide {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(40px, 0, 0);
    transform: translate3d(40px, 0, 0);
  }
  40% {
    opacity: 0.6;
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@-moz-keyframes miniatureShow {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  60% {
    opacity: 0.6;
    -moz-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate3d(40px, 0, 0);
    transform: translate3d(40px, 0, 0);
  }
}

@-moz-keyframes miniatureHide {
  0% {
    opacity: 1;
    -moz-transform: translate3d(40px, 0, 0);
    transform: translate3d(40px, 0, 0);
  }
  40% {
    opacity: 0.6;
    -moz-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }
  100% {
    opacity: 0;
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.prima .prima-numeric:after,
.prima .prima-chart:after {
	font-family: 'IcoMoonMore';
	font-style: normal;
	speak: none;
	content: "\0045";
	font-size: 20px;
	color: white;
	position: absolute;
	top: 5px;
	right: 10px;
}

.positive-val {
	color: red;
}

.negative-val {
	color: green;
}


#all-primas li.country-li .icon,
#favourite-primas li:not(.toolbar) .icon {
	height: auto;
}

.list li.country-li {
	padding-top: 1px;
	padding-bottom: 1px;
}

.list li.country-li > * {
	margin-top: 12px;
	margin-bottom: 12px;
}

.list li.country-li > a {
	margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
}

/*.list li.country-li.active {
	box-shadow: inset 0px 0px 7px #AAA;
  border-top: 1px inset white;
  background-color: #F8F8F8;
  padding-bottom: 0px;
}*/

/*.toolbar a {
	height: 48px;
	position: relative;
}
.toolbar abbr {
	position: absolute;
	left: 26%;
}
.toolbar .bubble {
	position: absolute;
	top: 6px;
	left: 53%;
}
*/
.country-li .count {
	padding: 1px 5px;
}


/* SHARE YOUR PRIMA */

#article-upload-prima .button .icon {
	float: none;
}

.list .tip .icon {
	display: inline-block;
	float: left;
	margin-right: 0.4em;
	text-align: center;
	line-height: 1em;
	width: 45px;
	height: 36px;
	font-size: 2.4em;
}

.list li button .icon {
	line-height: 2.5em;
	width: 15px;
	height: 15px;
	font-size: 1em;
}

/* COVER/CONTAIN BTN */

/*#img-cover-btn {
	display: block;
	color: white;
	position: absolute;
	right: 10px;
	bottom: 50px;
	z-index: 3;
	font-size: 200%;
  text-shadow: 1px 1px 3px black;
}

.free-version #img-cover-btn {
	right: auto;
	left: 10px;
  bottom: 0px;
}*/


/* ABOUT */
#lungologo {
	display: block;
	width: 40%;
	margin: 5px auto;
}

#article-about a {
	color: #05B8E2;
	display: inline;
}

/*.carousel,
.carousel div {
	height: 100%;
}*/

/*.carousel img {
	visibility: hidden;
}*/

[data-control='carousel'] img {
	height: auto;
	width: 100%;
}

/*[data-control='carousel'] img.adjust {
	height: 100%;
	width: auto;
}*/

/* ICS FIXES */
/*body section {
    display: none;
}
body section:first-child,
body section.show,*/
/* body section.hide, */
/* body section.pop, */
/* body section.flow, */
/*body section.ontransition {
    display: block;
}*/
/* END ICS FIXES */
