<li class="country-li" data-icon="user" data-country-code="{{country_code}}">
	<a href="#section-prima-country" data-router="section" data-country="{country_code}}">
		<div class="right bubble red li-prima-value">{{prima_value}}</div>
		<img src="assets/images/flags/{{country_code}}.png" class="icon" />
		<strong>
			<span class="country-name">{{name}}</span>
		</strong>
		<small>Prima de riesgo de {{name}}</small>
	</a>
</li>