<div class="prima-wrap">
	<div class="five rows">
		<strong class="prima-value">{{prima_value}}</strong>
	</div>
	<div id="prima-numbers" class="five rows">
		<div class="five columns prima-delta {{^is_growing}}negative-val{{/is_growing}} {{#is_growing}}positive-val{{/is_growing}} ">
			{{#is_growing}}
			<span class="icon up"></span>
			{{/is_growing}}
			{{^is_growing}}
			<span class="icon down"></span>
			{{/is_growing}}
			{{prima_delta_abs}}
		</div>
		<div class="five columns prima-percent {{^is_growing}}negative-val{{/is_growing}} {{#is_growing}}positive-val{{/is_growing}} ">
			{{#is_growing}}
			<span class="icon up"></span>
			{{/is_growing}}
			{{^is_growing}}
			<span class="icon down"></span>
			{{/is_growing}}
			{{prima_percent_abs}}
		</div>
	</div>
	<div id="prima-chart"></div>
</div>