@CHARSET "UTF-8";

#article-prima-value {
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  background-attachment: fixed;
	background-clip: border-box;
	background-color:	transparent;
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
}

.prima {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 240px;
	min-height: 106px;
	margin-top: -53px;
	margin-left: -120px;
	border-radius: 10px;
	background-color: rgba(180, 180, 180, 0.7);
	box-shadow: 0px 0px 7px	black;
	text-shadow: 0px 1px 2px black;
/* 	-webkit-transform:translate3d(0%, 0, 0) scale(1); */
	-webkit-transition:all 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.prima > div {
	text-align: center;
}

.prima-value, .prima-delta, .prima-percent {
	padding: 10px 20px;
	display: inline-block;
}


.prima .prima-value {
	font-size: 250%;
	color: red;
}

.prima .prima-delta {
  font-size: 150%;
}

.prima .prima-percent {
  font-size: 150%;
}

.prima .prima-percent:after {
  content: "%";
}

.prima.minified {
	width: 75px;
	height: 32px;
	min-height: 32px;
	margin: 0px;
/* 	-webkit-transform: scale(0.3); */
	top: 90%;
	left: -9%;
	font-size: 0px;
/* 	-moz-transform:translate3d(100%, 0, 0); */
/* 	-o-transform:translate3d(100%, 0, 0); */
/* 	transform:translate3d(-100%, 0, 0); */
/* 	-webkit-backface-visibility:hidden; */
}

.prima.minified > div {
	visibility: hidden;
}

.prima.minified:after {
  font-family: 'IcoMoonMore';
  font-style: normal;
  speak: none;
  content: "\0045";
  font-size: 20px;
  position: absolute;
  right: 10%;
  top: 5%;
}

/* @-webkit-keyframes .prima.minified { */
/* 	from: { */
	
/* 	} */
/* } */

.positive-val {
	color: red;
}

.negative-val {
  color: green;
}

#all-primas li.country-li .icon,
#favourite-primas li:not(.toolbar) .icon {
	height: auto;
}

.list li.country-li {
	padding-top: 1px;
	padding-bottom: 1px;
}

.list li.country-li > * {
	margin-top: 12px;
	margin-bottom: 12px;
}

.list li.country-li > a {
	margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.list li.country-li.active {
	box-shadow: inset 0px 0px 7px #AAA;
  border-top: 1px inset white;
  background-color: #F8F8F8;
  padding-bottom: 0px;
}

.toolbar a {
	height: 48px;
	position: relative;
}
.toolbar abbr {
	position: absolute;
	left: 26%;
}
.toolbar .bubble {
	position: absolute;
	top: 6px;
	left: 53%;
}

/* SHARE YOUR PRIMA */

#url-input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#article-upload-prima .button .icon {
	float: none;
}

/* COVER/CONTAIN BTN */

#img-cover-btn {
	display: block;
	color: white;
	position: absolute;
	right: 10px;
	bottom: 50px;
	z-index: 3;
	font-size: 200%;
  text-shadow: 1px 1px 3px black;
}

.free-version #img-cover-btn {
	right: auto;
	left: 10px;
  bottom: 0px;
}

/* FOOTER TRANSPARENT */
footer.transparent-footer ~ article {
  bottom: 0px;
}

footer.transparent-footer {
	background: none;
	border: none;
}


/* ABOUT */
#lungologo {
	display: block;
	width: 40%;
	margin: 5px auto;
}

#article-about a {
	color: #05B8E2;
	display: inline;
}


/* ICS FIXES */
body section {
    display: none;
}
body section:first-child,
body section.show,
/* body section.hide, */
/* body section.pop, */
/* body section.flow, */
body section.ontransition {
    display: block;
}
/* END ICS FIXES */
