<li class="country-li selectable" data-country-code="{{country_code}}">
	<div class="on-right bubble red li-prima-value" data-count="{{prima_value}}">
		<span class="tag count">{{prima_value}}</span>
	</div>
	<a href="#" data-view-section="section-prima-country" data-country="{{country_code}}">
		<span class="icon flags-{{country_code}}"></span>
		<span class="country-name" data-l10n-id="{{country_code}}">{{name}}</span>
	</a>
</li>